@import "../colors";

.footer {
  background: $grey-1;
  color: $secondary-text-dark;
  margin-top: 6rem;

  i {
    color: $secondary-text-dark;
    font-size: 30px;
  }

  p {
    font-weight: 300;
    margin-bottom: 0;
  }
}
