@import "../colors";

.navbar {
  transition: top 0.3s;
  width: 100%;
  z-index: 1;
  font-size: 18px;
  position: fixed;
  background: white;
  box-shadow: 0 2px 4px -1px lighten($secondary-text-light, 65%);
  .navbar-logo {
    a {
      color: $primary;
    }
  }

  .navbar-links {
    white-space: nowrap;
    text-align: right;

    a {
      color: $secondary-text-light;
      margin: 0 20px;
    }
  }
}
