@import "../shapes";
@import "../colors";

.project {
  //position: relative;
}

.project-image {
  //position: absolute;
  // width: 50%;
  // padding: 2rem;
  // border-radius: $box-radius;
  // background: $grey-2;

  img {
    width: 100%;
  }
}

.project-info {
  max-width: 25rem;
  border-left: 4px $grey-2 solid;
  padding-left: 14px;

  h3 {
    color: $dark;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .project-links {
    margin-bottom: 1rem;

    a {
      margin-right: 5px;
    }
  }

  .project-description {
    // color: white;
    // background: $grey-1;
    // border-radius: $box-radius;
    // padding: 1.8rem;

    p {
      margin-top: 0;
      font-size: 16px;
    }

    .project-stack {
      h4 {
        margin-bottom: 6px;
        // color: $primary-text-dark;
        color: $primary-text-light;
      }

      p {
        // color: $secondary-text-dark;
        color: $secondary-text-light;
        margin-bottom: 0;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .project-info {
    margin-bottom: 1rem;
    max-width: unset;
    width: 100%;
  }

  .project {
    margin-bottom: 3rem;
  }
}


@media (max-width: 1199.98px) {
  .project-image, .project-description {
    // padding: 1rem;
  }
}
