@import "../shapes";
@import "../colors";


.project-image {
  img {
    width: 100%;
  }
}

.project-info {
  max-width: 25rem;
  border-left: 4px $grey-2 solid;
  padding-left: 14px;

  h3 {
    color: $dark;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .project-links {
    margin-bottom: 1rem;

    a {
      margin-right: 5px;
    }
  }

  .project-description {
    p {
      margin-top: 0;
      font-size: 16px;

      a {
        color: #000;
        text-decoration: underline;
      }
    }

    .project-stack {
      h4 {
        margin-bottom: 6px;
        color: $primary-text-light;
      }


      p {
        color: $secondary-text-light;
        margin-bottom: 0;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .project-info {
    margin-bottom: 1rem;
    max-width: unset;
    width: 100%;
  }

  .project {
    margin-bottom: 3rem;
  }
}
