
$primary: #0000B8;
// $primary: #0000cc;
$link: $primary;


$dark: #000;
$primary-text-light: #000;
$secondary-text-light: #3A3A3C;
// $tertiary-text-light: #636366;
$tertiary-text-light: #707070;
$grey-1: #636366;
$grey-2: #707070;
$grey-3: #ececec;

$primary-text-dark: #fff;
$secondary-text-dark: #c7c7cc;

$outline: #c7c7cc;
