@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "colors";

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  .navbar-logo {
    font-size: 30px;
    font-weight: 600;
  }

  a {
    font-family: 'Montserrat', sans-serif;
  }
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  display: inline-block;
  font-size: 45px;
  color: $primary;
  font-weight: 900;
}

.section-title {
  margin-bottom: 4rem;
}


p.section-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: $secondary-text-light
}

a.cool-link {
  font-weight: 700;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $link;

  &::after {
    content: "";
    background: rgba($link, 0.25);
    position: absolute;
    left: 5px;
    bottom: -4px;
    width: calc(100% - 3px);
    height: calc(100% - 7px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }

  &:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
}

a.cool-link:hover {
  color: $link;
}

a, a:visited {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $grey-1;
  transition: 0.3s;
}

h2.section-title {
  font-size: 36px;
  text-align: center;
}
